<div class="container-2">
  <h2>Add  your Quote</h2>
  <!--name-->
  <form (ngSubmit)='addQuote() ;quoteForm.resetForm({})' #quoteForm='ngForm'>
  <div class="form-group">
      <!--quote-->
      <div class="form-group">
      <label for="quotte">Write your Quote:</label>
      <textarea class="form-control" id="quotte" rows="2" required [(ngModel)]="quoted.name" name="name" #name='ngModel'></textarea>
      </div>
     <!--author-->
     <div class="form-group">
         <label for="author">Author of the Quote:</label>
         <input type="text" required class="form-control" id="author" [(ngModel)]="quoted.author" name="author" #author='ngModel'>
     </div>
     <button type="submit" class="btn-success">Add Quote</button>
  </div>